.container{
  text-align: center;
}

.app-container{
  text-align: center;
  width: 50%;
}

.header{
  font-weight: bold;
  margin-bottom: 30px;
 
}

.balance {
  width: 450px;
  margin-bottom: 20px;
  border-width: 2px;
  border-color:black;
  border-style: solid;
position: relative;
left: 100px;
}

.totals{
  height: 70px;
margin-bottom: 20px;
}

.total{
  width: 200px;
  border-width: 2px;
  border-color:black;
  border-style: solid;
  height: 60px;
}

.income{
  position: absolute;
  left: 100px;
}

.expense{
  position: absolute;
  left: 350px;
}