.container{
  text-align: center;
}

.app-container{
  text-align: center;
  width: 50%;
}

.header{
  font-weight: bold;
  margin-bottom: 30px;
 
}

.balance {
  width: 450px;
  margin-bottom: 20px;
  border-width: 2px;
  border-color:black;
  border-style: solid;
position: relative;
left: 100px;
}

.totals{
  height: 70px;
margin-bottom: 20px;
}

.total{
  width: 200px;
  border-width: 2px;
  border-color:black;
  border-style: solid;
  height: 60px;
}

.income{
  position: absolute;
  left: 100px;
}

.expense{
  position: absolute;
  left: 350px;
}

.transaction_items{
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 450px;
  position: relative;
  left:100px;
}

.transaction_item{
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 20px;
}

.transaction_detail{
margin-right: 105px;
margin-left: 50px;
min-width: 650px;
}



ul{
  list-style-type: none;
}

.add_transaction{
  margin-top: 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 410px;
  position: relative;
  left: 100px;
  padding: 20px;
}

.add_description_container{
  margin-bottom: 20px;
}

.add_transaction_label{
  width: 100px;
  margin-right: 10px;
}

.add_transaction_button_container{
  margin-top: 20px;
}